<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title LAYOUT
    body
        header.top 
            .top__col-1 logo
            .top__col-1 meun
        main.content 2
        footer.bottom
            .bottom__col-1 information
            .bottom__col-2 sns
